.calc-buttons {
    display: inline-block;
    position: relative;
    button {
        width: 50px;
        height: 50px;
        margin: 5px;
        font-size: 20px;
    }
    .zero {
        width: 110px;
    }
    .equals {
        height: 110px;
        position: absolute;
        top: 180px;
        left: 180px;
    }
}